<% if list_games.any? %>
  <ol class="list-game-grid">
    <% list_games.each_with_index do |lg, index| %>
      <% game = lg.game %>
      <li class="list-game-card card card-clickable"
          data-list-filter-target="card"
          data-platforms="<%= game.platforms.to_json %>"
          data-genre="<%= game.genre %>"
          data-studio="<%= game.developer %>"
          data-rating="<%= game.rating.to_i %>"
          data-year="<%= game.release_date&.year %>">
        <%= link_to game_path(game), class: "list-game-card__link" do %>
          <div class="list-game-card__cover" <%= lazy_bg(rawg_thumb(game.cover_img)) %>>
            <span class="list-game-card__rank">#<%= index + 1 %></span>
            <% if (rating = display_rating(game.rating)) %>
              <span class="list-game-card__rating">
                <i class="fa-solid fa-star"></i> <%= rating %>
              </span>
            <% end %>
          </div>
          <div class="list-game-card__body">
            <div class="list-game-card__info">
              <span class="list-game-card__title"><%= game.title %></span>
              <span class="list-game-card__meta">
                <%= [game.genre, game.release_date&.year, short_platforms(game.platforms)].select(&:present?).join(" · ") %>
              </span>
            </div>
            <i class="fa-solid fa-chevron-right list-game-card__chevron"></i>
          </div>
        <% end %>
        <% if current_user == list.user %>
          <%= link_to list_game_path(lg),
                class: "list-game-card__remove",
                data: { turbo_method: :delete, turbo_confirm: "Remove #{game.title} from this list?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ol>
  <div class="list-games-empty" data-list-filter-target="emptyState">
    <i class="fa-solid fa-filter-circle-xmark list-games-empty__icon"></i>
    <p class="list-games-empty__text">No games match your filters.</p>
    <button class="list-games-empty__reset"
            data-action="click->list-filter#reset"
            type="button">
      Clear filters
    </button>
  </div>
<% end %>
