<div class="list-show-page" data-controller="list-edit list-filter">

  <div class="list-show__topbar">
    <%= link_to "‹ Lists", lists_path, class: "list-show__back" %>
  </div>

  <div class="card list-show__header"
       data-controller="share"
       data-share-url-value="<%= list_url(@list) %>"
       data-share-title-value="<%= @list.name %>">
    <div class="list-show__header-cover" id="list-header-cover-<%= @list.id %>">
      <%= render "header_cover", list_games: @list_games %>
    </div>
    <div class="list-show__header-info">
      <h1 class="list-show__name"><%= @list.name %></h1>
      <p class="list-show__meta" id="list-games-count-<%= @list.id %>"><%= pluralize(@list_games.size, "game") %></p>
      <p class="list-show__meta">by <%= link_to @list.user.gamer_tag, user_path(@list.user), class: "list-show__author-link" %></p>
      <div class="list-show__stats">
          <button class="list-show__share" data-action="click->share#share">
          <i class="fa-solid fa-share-nodes"></i> share
        </button>
        <%= turbo_frame_tag "list-likes-#{@list.id}" do %>
          <%= render "likes_button", list: @list %>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user == @list.user %>
    <div class="list-show__cta">
      <button class="list-show__edit-btn"
              data-action="click->list-edit#toggle">
        <i class="fa-solid fa-pen"></i> Edit
      </button>
      <%= render "shared/search_modal", list_id: @list.id %>
      <% if @list_games.any? %>
        <button class="list-show__filter-btn"
                data-action="click->list-filter#toggle"
                data-list-filter-target="toggleBtn">
          <i class="fa-solid fa-sliders"></i> Filter
          <span class="list-show__filter-count" data-list-filter-target="count"></span>
        </button>
      <% end %>
    </div>

    <% if @list_games.any? %>
      <%= render "lists/filter_panel", list_games: @list_games %>
    <% end %>

    <div class="list-show__delete-zone" data-controller="confirm-dialog">
      <button class="btn btn-danger w-100 list-show__delete"
              data-action="click->confirm-dialog#open">
        Delete list
      </button>

      <dialog class="confirm-dialog"
              data-confirm-dialog-target="dialog"
              data-action="click->confirm-dialog#backdropClose">
        <div class="confirm-dialog__box">
          <% cover = @list_games.first&.game&.cover_img %>
          <% if cover.present? %>
            <div class="confirm-dialog__cover" <%= lazy_bg(rawg_thumb(cover)) %>></div>
          <% else %>
            <div class="confirm-dialog__cover confirm-dialog__cover--placeholder"></div>
          <% end %>
          <p class="confirm-dialog__message">Do you want to delete <%= @list.name %>?</p>
          <p class="confirm-dialog__hint">This action cannot be undone.</p>
          <div class="confirm-dialog__actions">
            <button type="button"
                    class="confirm-dialog__btn confirm-dialog__btn--cancel"
                    data-action="click->confirm-dialog#close">
              Cancel
            </button>
            <%= form_with url: list_path(@list), method: :delete do |f| %>
              <%= f.submit "Delete", class: "confirm-dialog__btn confirm-dialog__btn--remove" %>
            <% end %>
          </div>
        </div>
      </dialog>
    </div>
  <% end %>

  <div id="list-games-section-<%= @list.id %>">
    <%= render "games_section", list: @list, list_games: @list_games %>
  </div>

</div>

<%= render "shared/navbar" %>
