<div class="list-show-page">

  <div class="list-show__topbar">
    <%= link_to "‹ Lists", lists_path, class: "list-show__back" %>

    <% if current_user == @list.user %>
      <div data-controller="search-modal" data-list-id="<%= @list.id %>">
        <button class="btn btn-primary list-show__add"
                data-action="click->search-modal#open">
          + Add more games
        </button>

        <div data-search-modal-target="modal" class="search-modal">
          <div class="search-modal__overlay"
               data-action="click->search-modal#close"></div>
          <div class="search-modal__box">
            <div class="search-modal__header">
              <h3>Search a game</h3>
              <button data-action="click->search-modal#close">✕</button>
            </div>
            <input type="text"
                   placeholder="Tetris"
                   data-search-modal-target="input"
                   data-action="input->search-modal#search"
                   class="search-modal__input" />
            <div class="search-modal__results">
              <div id="search_results" data-search-modal-target="results"></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="card list-show__header">
    <h1 class="list-show__name"><%= @list.name %></h1>
    <p class="list-show__meta">by <%= @list.user.gamer_tag %> · <%= pluralize(@list_games.size, "game") %></p>
  </div>

  <div class="list-show__actions"
       data-controller="share"
       data-share-url-value="<%= list_url(@list) %>"
       data-share-title-value="<%= @list.name %>">
    <span class="list-show__likes">
      <i class="fa-solid fa-heart"></i> <%= @list.votes_count || 0 %>
    </span>
    <button class="list-show__share" data-action="click->share#share">
      <i class="fa-solid fa-share"></i> Share
    </button>
  </div>

  <% if @list_games.any? %>
    <ol class="list-show__games">
      <% @list_games.each_with_index do |lg, index| %>
        <li class="list-game-row card">
          <span class="list-game-row__rank"><%= index + 1 %></span>
          <%= link_to game_path(lg.game), class: "list-game-row__link" do %>
            <div class="list-game-row__cover" style="background-image: url('<%= lg.game.cover_img %>')"></div>
            <div class="list-game-row__info">
              <span class="list-game-row__title"><%= lg.game.title %></span>
              <span class="list-game-row__genre"><%= lg.game.genre %></span>
            </div>
          <% end %>
          <% if current_user == @list.user %>
            <%= link_to list_game_path(lg),
                  class: "list-game-row__remove",
                  data: { turbo_method: :delete, turbo_confirm: "Remove #{lg.game.title} from this list?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% end %>

  <% if current_user == @list.user %>
    <%= link_to "Delete list", list_path(@list),
          class: "btn btn-danger w-100 list-show__delete",
          data: { turbo_method: :delete, turbo_confirm: "Delete \"#{@list.name}\"? This can't be undone." } %>
  <% end %>

</div>

<%= render "shared/navbar" %>
