<div class="auth-page">
  <h1 class="auth-title">Sign up</h1>
  <p class="auth-subtitle">Create your account to start tracking games</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth-form" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :gamer_tag,
                  required: true,
                  input_html: { autocomplete: "gamer_tag" } %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <div class="auth-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
