<% active ||= nil %>

<nav class="bottom-nav">
  <div class="bottom-nav__bar">
    <div class="bottom-nav__items">

      <%= link_to root_path, class: "bottom-nav__item #{'bottom-nav__item--active' if request.path == '/'}" do %>
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      <% end %>

      <%= link_to "#", class: "bottom-nav__item" do %>
        <i class="fa-solid fa-compass"></i>
        <span>Discover</span>
      <% end %>

      <%= link_to lists_path, class: "bottom-nav__item #{'bottom-nav__item--active' if request.path.start_with?('/lists')}" do %>
        <i class="fa-solid fa-list"></i>
        <span>Lists</span>
      <% end %>

      <%= link_to "#", class: "bottom-nav__item" do %>
        <i class="fa-solid fa-trophy"></i>
        <span>Quiz</span>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "#", class: "bottom-nav__item" do %>
          <i class="fa-solid fa-user"></i>
          <span>Profile</span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "bottom-nav__item #{'bottom-nav__item--active' if request.path.start_with?('/users')}" do %>
          <i class="fa-solid fa-user"></i>
          <span>Login</span>
        <% end %>
      <% end %>

    </div>
  </div>
</nav>
