<h1>Discover</h1>

<%= form_with scope: :list, url: discover_path do |f| %>
  <%= f.text_field :name, placeholder: "List name", required: true %>
  <%= f.submit "Create list" %>
<% end %>

<% if @lists.any? %>
  <hr>
  <h2>Your lists</h2>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, discover_list_path(list) %></li>
    <% end %>
  </ul>
<% end %>

<%= render "shared/navbar" %>
