<div class="discover-page">

  <div class="discover-page__header">
    <h1 class="discover-page__title">Discover</h1>
    <p class="discover-page__subtitle">Find your next favourite game</p>
  </div>

  <% if @lists.empty? %>
    <div class="discover-empty">
      <i class="fa-solid fa-compass discover-empty__icon"></i>
      <p class="discover-empty__text">You need a list before you can start discovering games.</p>
      <%= link_to "Create a list", new_list_path, class: "btn btn-primary w-100" %>
    </div>

  <% elsif @selected_list_id.blank? %>
    <div class="discover-setup">
      <p class="discover-setup__label">Add games to</p>
      <%= form_with url: discover_path, method: :get, data: { turbo: false } do |f| %>
        <%= f.select :list_id,
              @lists.map { |l| [l.name, l.id] },
              {},
              class: "form-select discover-setup__select" %>
        <%= f.hidden_field :start, value: 1 %>
        <%= f.submit "Find games", class: "btn btn-primary w-100 mt-3" %>
      <% end %>
    </div>

  <% else %>
    <div class="discover-meta">
      <span class="discover-meta__label">
        Adding to <strong><%= @lists.find { |l| l.id == @selected_list_id }&.name %></strong>
      </span>
      <%= link_to "Change", discover_path, class: "discover-meta__change" %>
    </div>

    <div id="game-card-frame">
      <%= render 'game_card', game: @game, list_id: @selected_list_id %>
    </div>
  <% end %>

</div>

<%= render "shared/navbar" %>
